apiVersion: batch/v1
kind: CronJob
metadata:
  name: inventory-snapshot
  namespace: commerce
  labels:
    app: inventory-snapshot
    app.kubernetes.io/part-of: commerce
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 2
      activeDeadlineSeconds: 120
      template:
        metadata:
          labels:
            app: inventory-snapshot
        spec:
          restartPolicy: OnFailure
          containers:
            - name: inventory-snapshot
              image: inventory-service:latest
              imagePullPolicy: Never
              envFrom:
                - configMapRef:
                    name: commerce-common-config
                - secretRef:
                    name: commerce-common-secret
              env:
                - name: DB_NAME
                  value: commerce-inventory
                - name: SPRING_PROFILES_ACTIVE
                  value: batch
                - name: JAVA_OPTS
                  value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=65.0 -XX:InitialRAMPercentage=50.0 -XX:+UseG1GC -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"
              resources:
                requests:
                  memory: "256Mi"
                  cpu: "50m"
                limits:
                  memory: "512Mi"
                  cpu: "200m"
