server:
  port: 8089
spring:
  datasource:
    url: jdbc:mariadb://${DB_HOST:localhost}:${DB_PORT:3309}/${DB_NAME:commerce-auth}
    username: ${DB_USERNAME:admin}
    password: ${DB_PASSWORD:admin1234}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      leak-detection-threshold: 60000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        show_sql: false
        format_sql: false
        jdbc:
          batch_size: 20
        order_inserts: true
        order_updates: true

  kafka:
    producer:
      bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVER:localhost:9092}

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTWhichShouldBeAtLeast256BitsLongToEnsureSecurityAndCompliance}
  expiration: ${JWT_EXPIRATION:86400} # 24 hours in seconds
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800} # 7 days in seconds
