apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: commerce
  labels:
    app: auth-service
    app.kubernetes.io/part-of: commerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: auth-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: commerce-common-config
            - secretRef:
                name: commerce-common-secret
          env:
            - name: DB_NAME
              value: commerce-auth
            - name: JAVA_OPTS
              value: "-XX:+UseContainerSupport -XX:MaxRAMPercentage=65.0 -XX:InitialRAMPercentage=50.0 -XX:+UseG1GC -XX:+DisableExplicitGC -Djava.security.egd=file:/dev/./urandom"
          startupProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 20
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            requests:
              memory: "384Mi"
              cpu: "50m"
            limits:
              memory: "768Mi"
              cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: commerce
  labels:
    app: auth-service
    app.kubernetes.io/part-of: commerce
spec:
  selector:
    app: auth-service
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
