apiVersion: 1

datasources:
  # Prometheus - k6 메트릭 및 시스템 메트릭 데이터소스
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      keepCookies: []
      manageAlerts: true
      prometheusType: Prometheus
      prometheusVersion: 2.40.0
      exemplarTraceIdDestinations: []
    version: 1
